*{
  font-family: Arial, Helvetica, sans-serif;
}
div.text{
  max-width: 30%;
}
div.body{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
img{
  max-height: 32vh;
}
header{
  display: flex;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 10px;
}