section#contact{
    height: 75vh;
    padding: 20px;
    background-color: #84e29d;
}
fieldset{
    display: flex;
    flex-direction: column;
}
button{
    width: 8vw;
    padding: 10px;
    border: none;
    background-color: rgb(145, 206, 206);
    border-radius: 12px;
}