section#contact{
    height: 75vh;
    padding: 20px;
    background-color: #0f172a;
    color: white;
}
fieldset{
    display: flex;
    flex-direction: column;
}
button{
    width: 8vw;
    padding: 10px;
    border: none;
    background-color: #38bdf8;
    border-radius: 12px;
}