section#home{
  padding: 20px;
  text-align: center;
  height: 58vh;
  background-color: #84e29d;
  padding-top: 20vh;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;

  background-color: rgb(145, 206, 206);
  color: black;

  text-decoration: none;

  border-radius: 6px;

  transition: 0.3s;
}
